body {
  background-color: rgb(228, 211, 211);
}

.breed-select {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  border-color: white;
}

.cat-info {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.loader {
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.error {
  text-align: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.desc {
  max-width: 600px;
}
